# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [7]:
number = 6
print(number)

print(type(number))

6
<class 'int'>

##### Assinging float

In [8]:
# float = any number with a decimal
num_float = 2.3

print(num_float)
print(type(num_float))

2.3
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4

result = num1 +  num2
print(result)
print(type(result))

result += 2
print(result)

7.4
<class 'float'>
9.4

##### Subtraction

In [12]:
num1 = 7
num2 = 10
result_diff = num2 - num1

print(result_diff)

# Shorthand version
result_diff -= 1
print(result_diff)

3
2

##### Multiplication

In [14]:
result_prod = num1 * num2
print(result_prod)

# shorthand
result_prod *= 2
print(result_prod)

70
140

##### Division

In [19]:
# always returns a float
num3 = 20
num4 = 5
result_dividend = num3 / num4
print(result_dividend)

result_dividend /= 2
print(result_dividend)
print(int(result_dividend))

4.0
2.0
2

##### Floor Division

In [29]:
num5 = 15
num6 = 7

result_floor = num5 // num6
print(result_floor)


# useful example for lists
# my_list = [1, 2, 3, 4, 5]
# list_length = len(my_list)
# print(list_length)

# list_floored = list_length // 2
# print(list_floored)

# middle_num = my_list[list_floored]
# print(middle_num)

2
6
3
4

##### Modulo

In [33]:
num1 = 11
num2 = 2

remainder = num1 % num2
print(remainder)

num3 = 10
num4 = 2

remainder2 = num3 % num4
print(remainder2)

if num3 % 2 == 0:
    print("even")

1
0
even

##### Exponential

In [35]:
square = 5 ** 2
print(square)

# shorthand
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [36]:
name = "Steve"
print(name)

Steve

##### print() <br>
<p>Don't forget about end=' '</p>

In [38]:
print("This is my first name: ", name)
print("Full name: ", name, end=" McTeague")

This is my first name:  Steve
Full name:  Steve McTeague

In [39]:
# use ? to get additional information about a function
print?

##### String Concatenation

In [42]:
first_name = "Steve"
last_name = "McTeague"

full_name = first_name + " " + last_name
print(full_name)

full_name += " coder"
print(full_name)

Steve McTeague
Steve McTeague coder

##### Type Conversion

In [48]:
number = "32"
name = "Steve"
number_string = '10'
# int() --> convert a string to an integer
# float() --> convert an integer or a string number to a float
# str() --> convert an integer or a float to a string

print(type(number))
num_int = int(number)
print(type(num_int))
num_float = float(number)
print(type(num_float))
# print(int(name)) --- Error
print(type(int(number_string)))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>

##### input()

In [53]:
# input will always return a string

name = input("What is your name? ")
color = input("What is your favorite color? ")
quest = input("What is your quest? ")

print(name, color, quest)

age = int(input("What is your age? "))
add_age = age + 1
print(add_add)
print(type(add_age))

What is your age? 56
57
<class 'int'>

##### format()

In [55]:
age = input("What is your age? ")
name = input("What is your name? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

What is your age? 56
What is your name? Steve
You are 56 Steve and you are getting wiser!

In [57]:
result_again = f"{age} is a great time in life...I guess..."
print(result_again)
print(f"{age} is ok and my knees crack a lot which is weird")

56 is a great time in life...I guess...
56 is ok and my knees crack a lot which is weird

##### Old Way (python 2)

In [59]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 56 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [62]:
color = input("What color is the car? ")
year = int(input("What year is the car? "))
make = input("What make is the car? ")
model = input("What model is the car? ")

print(f"The car is a {color} {year} {make.title()} {model}.")

What color is the car? white
What year is the car? 2022
What make is the car? honda
What model is the car? CRV
The car is a white 2022 Honda CRV.

### If Statements

In [69]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 15
num2 = 10
if num2 == num1:
    print('equal values')
else:
    print('not equal')

if num2 >= num1:
    print("num2 is greater")
elif num1 >= num2:
    print("num1 is greater")
else:
    print("This probably wouldn't get hit but just in case we're printing something.")

not equal
num1 is greater

##### 'is' keyword

In [74]:
# use the "is" keyword when checking for same/similar objects, not same value

num3 = 55
# if num3 is 55:
#     print("This is the exact number/object")

num4 = num3
print(num3)
print(num4)

if num4 is num3:
    print("num4 is num3")

num3 = 50
print(num3)
print(num4)

if num4 is num3:
    print("it is")
else:
    print("it's not")

55
55
num4 is num3
50
55
it's not

##### 'in' keyword

In [78]:
# checking for membership in an iterable

char_name = "Boba Fett"

if "Boba" in char_name:
    print("Oh no, the sarlaac")
    
if "o" in char_name:
    print("There is an 'o'")

my_list = [1, 2, 3, 4, 5]    
my_list2 = [1, 3, 5, 7, 9]    

if 1 in my_list:
    print("Yaaaayyy")

for x in my_list:
    if x in my_list2:
        print("it's here!")

Oh no, the sarlaac
There is an 'o'
Yaaaayyy
it's here!
it's here!
it's here!
it's here!
it's here!

##### 'not in' keyword'

In [83]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("This is Sonic, not Sanic")
else:
    print("GoTta gO fAsT")

This is Sonic, not Sanic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [92]:
name = input("What is your name? ")

if "p" in name.lower():
    print("The letter 'p' is in your name!")
else:
    print("The letter 'p' is not in your name!")

What is your name?  P aul
The letter 'p' is in your name!

## Using 'and'/'or' with If Statements

In [97]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 15
num2 = 3
num3 = 10
num4 = 3

# if with and
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
    print(True)

# if with or
if num1 > num2 or num3 == num4:
    print("True and False")
    print(True)
else:
    print(False)

True and True
True
True and False
True

### Elif Statements

In [101]:
first_name = "Max"
another_name = "Cheetor"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is not Max")
elif first_name == "Cheetor":
    print("Maximals Maximize!")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [110]:
# for keyword, variable/counter, "in" keyword, iterable

# for i in range(10):
#     print(i)

name = "Steve McTeague"

for letter in name:
    print(letter)

print("\n")    
    
for i in range(len(name)):
    print(i, name[i])

S
t
e
v
e

M
c
T
e
a
g
u
e


0 S
1 t
2 e
3 v
4 e
5
6 M
7 c
8 T
9 e
10 a
11 g
12 u
13 e

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [113]:
for i in range(20):
    print(i)
    
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [114]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [115]:
# used during development i.e. for a TODO

name = "Steve McTeague"
for i in name:
    pass

##### Double For Loops

In [117]:
my_list = [1, 2, 3, 4, 5, 6]
my_list2 = [7, 8, 9, 10, 11, 12]

for i in my_list:
    for x in my_list2:
        print(i, x)
        
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

1 7
1 8
1 9
1 10
1 11
1 12
2 7
2 8
2 9
2 10
2 11
2 12
3 7
3 8
3 9
3 10
3 11
3 12
4 7
4 8
4 9
4 10
4 11
4 12
5 7
5 8
5 9
5 10
5 11
5 12
6 7
6 8
6 9
6 10
6 11
6 12
i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [118]:
# while keyword, condition statement
# will run based on the condition

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [121]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [127]:
num = 0

while num < 5:
    print("\nWhile loop iteration: ", num)
    for i in range(5):
        print("For loop iteration: ", i)
    num += 1

While loop iteration:  0
For loop iteration:  0
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3
For loop iteration:  4

While loop iteration:  1
For loop iteration:  0
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3
For loop iteration:  4

While loop iteration:  2
For loop iteration:  0
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3
For loop iteration:  4

While loop iteration:  3
For loop iteration:  0
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3
For loop iteration:  4

While loop iteration:  4
For loop iteration:  0
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3
For loop iteration:  4

### Built-In Functions

##### range()

In [131]:
# stop <-- required
# start, stop
# start, stop, step

for i in range(1, 100, 2):
    print(i)

for i in range(0, 22, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
0
2
4
6
8
10
12
14
16
18
20

##### len()

In [132]:
# give length of an iterable

name = "Lando"

print(len(name))

5

##### help()

In [136]:
# view more info about a function

# range?

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [142]:
# check a variable to find out what object family it belongs to
# isinstance(variable, type)
# returns a boolean

num = 4.5
print(isinstance(num, float))

if isinstance(4.5, float):
    print("This number is a float type")
else:
    print(False)

True
This number is a float type

##### abs()

In [144]:
# give distance from zero
# |5|

print(abs(-5))

print(abs(10))

5
10

### Try and Except

In [148]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program
# to stop.
# use so you can log graceful and useful error messages

try:
    number_test = 0
    input_num = int(input("Guess a number! "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work --- ERROR: Please make sure your input is a number.")

Guess a number! two
That did not work --- ERROR: Please make sure your input is a number.

### Lists

##### Declaring Lists

In [149]:
l_1 = [] # empty list declaration

names = ['Ash', 'Misty', 'Brock', 'Gary']
print(names)

['Ash', 'Misty', 'Brock', 'Gary']

##### Indexing a List

In [158]:
# [start: stop: step]
# [-1] <-- always returns the last item in the list

# single index
print(names[0])

# print starting at index 1 and going to the end
print(names[1:])

# print starting at the beginning of the list and go to the nth position
# (n being the number we want to stop at)
print(names[:2])

# print at the beginning and going by 2s
print(names[::2])

# print at index 1 and going by 2s
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Ash
['Misty', 'Brock', 'Gary']
['Ash', 'Misty']
['Ash', 'Brock']
['Misty', 'Gary']
['Gary', 'Brock', 'Misty', 'Ash']

##### .append()

In [160]:
names = ['Ash', 'Misty', 'Brock', 'Gary']

names.append('Professor Oak')

print(names)

['Ash', 'Misty', 'Brock', 'Gary', 'Professor Oak']

##### .insert()

In [161]:
# list.insert(index, value)

names.insert(2, 'Officer Jenny')

print(names)

['Ash', 'Misty', 'Officer Jenny', 'Brock', 'Gary', 'Professor Oak']

##### .pop()

In [164]:
# pop will remove the last item in the list by default
# pop returns the element that was removed in case you want to reassign it

# bye_bye = names.pop()
# print(bye_bye)

# print(names.pop(2))

print(names)

['Ash', 'Misty', 'Brock', 'Gary']


##### .remove()

In [166]:
# value to be removed, not index

new_names = ["Ryan", "Alex", "Raul", "Chris", "Teddie", "Bob", "Bob", "Bob"]

# new_names.remove("Ryan")
# print(new_names)

# remove multiple Bobs from our list
while 'Bob' in new_names:
    new_names.remove('Bob')

print(new_names)

['Ryan', 'Alex', 'Raul', 'Chris', 'Teddie']

##### del()

In [167]:
# index to be removed, not value
# be careful with del

new_names = ["Ryan", "Alex", "Raul", "Chris", "Teddie"]

del(new_names[1])

print(new_names)

['Ryan', 'Raul', 'Chris', 'Teddie']

##### Concatenating Two Lists

In [171]:
l_2 = [1, 2, 3, 4]
l_3 = [5, 7, 8, 9]

larger_list = l_3 + l_2
print(larger_list)

[5, 7, 8, 9, 1, 2, 3, 4]

##### Lists Within Lists

In [174]:
names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]

print(names)
print(names[0])
print(names[3])
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Max
['Sally', 'Sue', 'Tameka']
Sally

##### Looping Through Lists

In [180]:
# two ways to loop through a list, one by index
# one by value

# looping by index
names = ['Ryan', 'Alex', 'Raul', 'Chris', 'Teddie']
print(len(names))
for i in range(len(names)):
    print(i)
    print(i, names[i])

# looping by value and using "in" keyword
for name in names:
    print(name)

# enumerate(iterable, start #)
for i, name in enumerate(names):
    print(i, name)

5
0
0 Ryan
1
1 Alex
2
2 Raul
3
3 Chris
4
4 Teddie
Ryan
Alex
Raul
Chris
Teddie
0 Ryan
1 Alex
2 Raul
3 Chris
4 Teddie

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [222]:
start_num = 0
cubed_num = 0

while cubed_num < 1000:
    start_num += 1
    cubed_num = start_num**3
    print(cubed_num)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [210]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime_number = False

for num in range(1, 101):
    for div in range(2, num+1):
        if div != num and num % div == 0:
            prime_number = False
            break
        else:
            prime_number = True
    if prime_number:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
try:
    age = int(input("What is your age? "))

    if age < 18:
        print("kids")
    elif age >= 18 and age <= 65:
        print("adults")
    else:
        print("seniors")
        
except:
    print("Please enter a number (in number format) only.")

What is your age? 20
adults